#root {
  max-width: 1440px;
  border: solid 2px green;
  background-color: rgb(255, 250, 243);
  display: grid;
  justify-content: center;
}

#mi-titulo {
  font-family: 'Lucida Sans';
  font-weight: bold;
  font-size: 44;
  color: darkblue;
  text-align: center;
}

#mis-timers {
  display: flex;
  flex-wrap: wrap;
}
