#root {
  max-width: 1480px;
  border: solid 2px green;
  background-color: rgb(255, 250, 243);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont-timer {
  width: fit-content;
  min-width: 320px;
  height: 170px;
  background-color: rgb(255, 216, 169);
  margin: 1rem;
  border: solid 2px green;
  text-align: center;
}
